@media (min-width: 768px) {
  .fonct {
    margin: 45px 13% 65px;

    &__ensemble {
      flex-direction: row;
      gap: 35px;
    }
    &__choix {
      width: 100%;
    }
  }

  .rest {
    padding: 35px 12% 30px 13%;

    &__ensemble {
      gap: 60px;
    }

    &__2 {
      gap: 100px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__lien {
      width: 45%;
    }

    &__img {
      height: 180px;
    }

    &__new {
      width: 26%;
      left: 70%;
      bottom: 80%;
    }
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 7%;
    height: 114px;

    &__text {
      flex-direction: row;
      gap: 50px;
      margin-top: 40px;

      &__2 {
        flex-direction: row;
      }
    }
  }
}