// Couleur
$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiaire-color: #99E2D0;
$fond-footer: #353535;
$fond-beige: #F7F7F7;
*
{    
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;   
box-sizing: border-box;
}
body
{
display: flex;    
align-items: center;
flex-direction: column;   
}
.container {
width: 100%;
}
h1
{
font-size: 24px;
font-weight: 700;
}
h2
{
font-size: 24px;
font-weight: 700;
}
a
{
text-decoration: none;
color: black;
}
%flex_center {
display: flex;
justify-content: center;
align-items: center;
}
@mixin button-gradient {
color: white;
border: none;
font-weight: 500;
background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
border-radius: 25px;
cursor: pointer;
}
// header //
.header {
  width: 100%;
  margin-bottom: 225px;

  &__block {
    height: 63px;
    display: flex;
    padding: 0 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    &__img {
      @extend %flex_center;
      width: 100%;

      & img {
        width: 162px;
      }
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  &__fond {
    object-fit: cover;
    height: 275px;
    width: 100%;
    position: absolute;
  }
}
// Menu //
h1 {
  font-family: 'Shrikhand';
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 45px;
}
.menu {
  width: 100%;
  background: $fond-beige;
  border-radius: 35px 35px 0 0;
  padding: 40px 15px;
  position: relative;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 45px;

    &__line {
      border: 3px solid $tertiaire-color;
      width: 40px;
      margin-top: 5px;
    }

    &__carte {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__plat {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    white-space: nowrap;

    &:hover .menu__plat__check {
      margin-right: 0;
    }

    &__nom {
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__check {
      background: $tertiaire-color;
      width: 65px;
      height: 65px;
      @extend %flex_center;
      margin-right: -65px;
      transition: all 0.5s;
    }

    &__item {
      display: flex;
    }

    &__detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12px 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &__nom {
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      }

      &__prix {
        font-weight: 700;
        display: flex;
        align-items: end;
        justify-content: end;
        padding: 12px 15px 12px 0;
      }
    }
  }
}
.fa-circle-check {
  color: white;
  font-size: 22px;
}
.heart {
  position: absolute;
  right: 70px;
  top: 45px;

  &__vide {
    position: absolute;    
    font-size: 28px;
    opacity: 1;
    transition: all 0.35s linear;

    &:hover {
      opacity: 0;
    }
  }

  &__fav {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    position: absolute;    
    font-size: 28px;
    opacity: 0;
    transition: all 0.35s linear;

    &:hover {
      opacity: 1;
    }
  }
}
h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
#block-button {
  @extend %flex_center;
  margin-top: 40px
}
.button {
  @include button-gradient();
  @extend %flex_center;
  width: 180px;
  height: 50px;
  font-size: 15px;

  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}
// footer //
.footer {
  background: $fond-footer;
  color: white;
  padding: 25px;

  &__logo {
    color: white;
    font-size: 18px;
    font-family: 'Shrikhand';
    font-weight: 400;
    text-transform: none;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
    text-align: start;

    &__icon {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__2 {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
  }
}
.fa-handshake-angle {
  font-size: 11px;
}
#contact {
  color: white;
}